@import "tailwindcss";
@plugin "daisyui" {
    themes: light --default, dark --prefersdark;
}

:root {
  font-family: Ubuntu;

  --dashed-border: 1px dashed var(--color-primary-content);
  --box-radius: 0.25rem;
}

.br-dashed {
  border-right: var(--dashed-border);
  border-opacity: 0.5;
}

.bl-dashed {
  border-left: var(--dashed-border);
  border-opacity: 0.5;
}

.border-dashed {
  border: var(--dashed-border);
  border-opacity: 0.5;
}

.box-rounded {
  border-radius: var(--box-radius);
}